<h1>DROPBOX APP</h1>

<ul>
  <li>
    <p>1. Go to: <a href="<%=@authorize_url%>" target="_blank">Authorize app</a></p>
  </li>
  <li>
    <p>2. Click "Allow" (you might have to log in first)</p>
  </li>
  <li>
    <p>3. Copy the authorization code</p>
  </li>
</ul>


<%= form_tag("/dropbox/code", method: "get") do %>
  <%= label_tag(:auth_code, "Authorization code") %>
  <%= text_field_tag(:auth_code) %>
  <%= submit_tag("Submit") %>
<% end %>
